.app-view-header Responsive Tables
  small Responsive table with different components

.container-fluid(ng-controller="ResponsiveTableController as table")
  // START row
  .row
    .col-lg-6
      // START panel
      .panel.panel-default
        .panel-heading
          | Basic Table
        .panel-body
          // START table-responsive
          .table-responsive
            table.table
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
          // END table-responsive
      // END panel
    .col-lg-6
      .panel.panel-default
        .panel-heading
          | Bordered Table
        .panel-body
          .table-responsive.table-bordered
            table.table
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
  // END row

  // START row
  .row
    .col-lg-6
      // START panel
      .panel.panel-default
        // START table-responsive
        .table-responsive
          table#table-ext-3.table.table-striped.table-bordered.table-hover
            thead
              tr
                th Task name
                th Progress
                th Deadline
            tbody
              tr
                td Start with project A
                td 
                  progressbar.progress-striped.progress-xs(value='20', type='danger')
                td 12/12/2014

              tr
                td Call John and ask his surname
                td 
                  progressbar.progress-striped.progress-xs(value='50', type='info')
                td 15/12/2014

              tr
                td Take a rest. Sleep. Peace of mind.
                td 
                  progressbar.progress-striped.progress-xs(value='80', type='success')
                td 12/10/2014


          // END table-responsive
      // END panel
    .col-lg-6
      // START panel
      .panel.panel-default
        // START table-responsive
        .table-responsive
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th Project
                th.text-center Activity
                th.text-center Completion
                th.text-right Members
            tbody
              tr
                td Angular 5.x
                td.text-center
                  sparkline(options="table.sparkOps1", values="table.sparkData1")
                td.text-center
                  .label.label-orange Canceled
                td.text-right
                  .text-muted 12
              tr
                td Core Engine
                td.text-center
                  sparkline(options="table.sparkOps2", values="table.sparkData2")
                td.text-center
                  .label.label-amber Complete
                td.text-right
                  .text-muted 13
              tr
                td Lore ipsum
                td.text-center
                  sparkline(options="table.sparkOps3", values="table.sparkData3")
                td.text-center
                  .label.label-inverse Delayed
                td.text-right
                  .text-muted 14
        // END table-responsive
      // END panel
  // END row

  // START row  
  .row
    .col-lg-6
      // START panel
      .panel.panel-default
        // START table-responsive
        .table-responsive
          table#table-ext-1.table.table-bordered.table-hover
            thead
              tr
                th UID
                th Picture
                th Username
                th Email
                th Profile
                th Last Login
                th(check-all)
                  .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                    label
                      input(type='checkbox', checked="true")
                      span.fa.fa-check
            tbody
              tr
                td 1
                td
                  .media
                    img.img-responsive.img-circle(src="app/img/user/01.jpg", alt="Image")
                td @twitter
                td mail@example.com
                td.text-center
                  sparkline(options="sparkOps1", values="sparkData1")
                td 1 week
                td
                  .checkbox.c-checkbox
                    label
                      input(type='checkbox', checked="true")
                      span.fa.fa-check
              tr
                td 2
                td
                  .media
                    img.img-responsive.img-circle(src="app/img/user/02.jpg", alt="Image")
                td @mdo
                td mail@example.com
                td.text-center
                  sparkline(options="sparkOps2", values="sparkData2")
                td 25 minutes
                td
                  .checkbox.c-checkbox
                    label
                      input(type='checkbox', checked="true")
                      span.fa.fa-check
              tr
                td 3
                td
                  .media
                    img.img-responsive.img-circle(src="app/img/user/03.jpg", alt="Image")
                td @fat
                td mail@example.com
                td.text-center
                  sparkline(options="sparkOps3", values="sparkData3")
                td 10 hours
                td
                  .checkbox.c-checkbox
                    label
                      input(type='checkbox', checked="true")
                      span.fa.fa-check
        // END table-responsive
        .panel-footer
          .row
            .col-xs-6
              .input-group.input-group-sm
                input.form-control(type='text', placeholder='Search')
                span.input-group-btn
                  button.btn.btn-sm.btn-default(type='button') Search
            .col-xs-6
              .input-group.input-group-sm.pull-right
                select.form-control
                  option(value='0') Bulk action
                  option(value='1') Delete
                  option(value='2') Clone
                  option(value='3') Export
                span.input-group-btn
                  button.btn.btn-sm.btn-default Apply
      // END panel
    .col-lg-6
      // START panel
      .panel.panel-default
        // START table-responsive
        .table-responsive
          table.table.table-striped.table-bordered.table-hover
            thead
                th Team users
                th.text-center Active
            tbody
              tr
                td
                  .media
                      a.media-left.media-middle(href='')
                        img.thumb48.media-object.img-responsive.img-circle(src="app/img/user/01.jpg",alt="")
                      .media-body
                        h4.media-heading Elizabeth Miller
                        span.text-muted Username: eliz
                td.text-center
                  label.switch.switch-purple
                    input(type='checkbox')
                    span
              tr
                td
                  .media
                      a.media-left.media-middle(href='')
                        img.thumb48.media-object.img-responsive.img-circle(src="app/img/user/03.jpg",alt="")
                      .media-body
                        h4.media-heading Marion Harper
                        span.text-muted Username: marionoff
                td.text-center
                  label.switch.switch-purple
                    input(type='checkbox', checked)
                    span
              tr
                td
                  .media
                      a.media-left.media-middle(href='')
                        img.thumb48.media-object.img-responsive.img-circle(src="app/img/user/05.jpg",alt="")
                      .media-body
                        h4.media-heading Derek Stephens
                        span.text-muted Username: dereka
                td.text-center
                  label.switch.switch-purple
                    input(type='checkbox', checked)
                    span
        // END table-responsive
      // END panel

