.app-view-header Notifications
  small A set of notification options

.panel.panel-default
  .panel-heading Toaster notifications for Angular
  .panel-body(ng-controller='ToasterController as toaster')

    toaster-container(toaster-options="{'position-class': 'toast-top-right', 'close-button':true}")
    .row
      .col-sm-6
        .form-group
          label Title
          input.form-control(type='text', placeholder='Enter a title...', ng-model='toaster.toaster.title')
        .form-group
          label Message
          textarea.form-control(placeholder='Enter a message', rows='5', ng-model='toaster.toaster.text')
      .col-sm-6
        .row
          .col-md-6
            // icon-classes: .toast-error,.toast-info,.toast-wait,.toast-success,.toast-warning
            label Toast Type
            .radio.c-radio
              label
                input(type='radio', name='toasts', ng-model='toaster.toaster.type', value='success')
                span.fa.fa-circle
                | Success
            .radio.c-radio
              label
                input(type='radio', name='toasts', ng-model='toaster.toaster.type', value='info')
                span.fa.fa-circle
                | Info
            .radio.c-radio
              label
                input(type='radio', name='toasts', ng-model='toaster.toaster.type', value='wait')
                span.fa.fa-circle
                | Wait
            .radio.c-radio
              label
                input(type='radio', name='toasts', ng-model='toaster.toaster.type', value='warning')
                span.fa.fa-circle
                | Warning
            .radio.c-radio
              label
                input(type='radio', name='toasts', ng-model='toaster.toaster.type', value='error')
                span.fa.fa-circle
                | Error
    button.btn.btn-info(ng-click='toaster.pop()') Show a Toaster

// START breadcrumb
ol.breadcrumb
  li
    a(href='') {{app.name}}
  li
    a(href='') Elements
  li.active Notifications
// END breadcrumb

// START row
.row
  .col-lg-6
    // START panel
    .panel.panel-default
      .panel-heading
        | Alert Styles
      .panel-body
        .alert.alert-success
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          a.alert-link(href='') Alert Link
        .alert.alert-info
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          a.alert-link(href='') Alert Link
        div(ng-controller='AlertsController as bsalert')
          alert(ng-repeat='alert in bsalert.alerts', type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}
          button.btn.btn-info(ng-click='bsalert.addAlert()') Add Alert
    // END panel

    // START panel
    .panel.panel-default(ng-controller='ProgressDemoController as progress')
      .panel-heading Progress Bar
        .btn-group.pull-right
          button.btn.btn-xs.btn-primary(type='button', ng-click='progress.randomStacked()') Stacked
          button.btn.btn-xs.btn-primary(type='button', ng-click='progress.random()') Randomize
      .panel-body
        h4 Static
        .row
          .col-sm-4
            progressbar(value='55')
          .col-sm-4
            progressbar.progress-striped(value='22', type='warning') 22%
          .col-sm-4
            progressbar.progress-striped.active(max='200', value='166', type='danger')
              i 166 / 200

        h4 Dynamic
        progressbar(max='progress.max', value='progress.dynamic')
          span.text-nowrap {{progress.dynamic}} / {{progress.max}}
        small
          em No animation
        progressbar(animate='false', value='progress.dynamic', type='success')
          b {{progress.dynamic}}%
        small
          em Object (changes type based on value)
        progressbar.progress-striped.active(value='progress.dynamic', type='{{progress.type}}')
          | {{type}}
          i(ng-show='progress.showWarning') !!! Watch out !!!

        h4 Stacked
        progress
          bar(ng-repeat='bar in progress.stacked track by $index', value='bar.value', type='{{bar.type}}')
            span(ng-hide='ng-hide', bar.value='bar.value')
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading Tooltips
      .panel-body
        div(ng-controller='TooltipController as tooltip')
          .form-group
            label Dynamic Tooltip Text
            input.form-control(type='text', ng-model='tooltip.dynamicTooltipText')
          .form-group
            label Dynamic Tooltip Popup Text
            input.form-control(type='text', ng-model='tooltip.dynamicTooltip')
          p
            | Pellentesque 
            a(href='', tooltip='{{tooltip.dynamicTooltip}}') {{tooltip.dynamicTooltipText}}
            | , 
            | sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in 
            | aliquam. Tincidunt lobortis feugiat vivamus at 
            a(href='', tooltip-placement='left', tooltip='On the Left!') left 
            | eget 
            | arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur 
            a(href='', tooltip-placement='right', tooltip='On the Right!') right 
            | nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas 
            a(href='', tooltip-placement='bottom', tooltip='On the Bottom!') bottom 
            | pharetra convallis posuere morbi leo urna, 
            a(href='', tooltip-animation='false', tooltip='I don\'t fade. :-(') fading 
            | at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus 
            a(href='', tooltip-popup-delay='1000', tooltip='appears with delay') delayed
            | turpis massa tincidunt dui ut. 
          p
            | I can even contain HTML. 
            a(href='', tooltip-html-unsafe='{{tooltip.htmlTooltip}}') Check me out!
          form(role='form')
            .form-group
              label Or use custom triggers, like focus: 
              input.form-control(type='text', value='Click me!', tooltip='See? Now click away...', tooltip-trigger='focus', tooltip-placement='top')
    // END panel

  .col-lg-6

    // START panel
    .panel.panel-default
      .panel-heading
        | Modals
      .panel-body

        // Modal Controller
        div(ng-controller='ModalController as modal')
          // Modal inline template
          script(type='text/ng-template', id='/myModalContent.html')
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Modal title
            .modal-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .modal-footer
              button.btn.btn-primary(ng-click='ok()') OK
              button.btn.btn-warning(ng-click='cancel()') Cancel

          p Launch Demo Modal
          // Button trigger modal 
          button.btn.btn-primary.mr(ng-click='modal.open()') Open me!
          button.btn.btn-primary.mr(ng-click='modal.open(\'lg\')') Large modal
          button.btn.btn-primary.mr(ng-click='modal.open(\'sm\')') Small modal
          
          div#modal-state
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        | Popovers
      .panel-body
        div(ng-controller='PopoverController as popover')
            h4 Dynamic
            .form-group
              label Popup Text:
              input.form-control(type='text', ng-model='popover.dynamicPopover')
            .form-group
              label Popup Title:
              input.form-control(type='text', ng-model='popover.dynamicPopoverTitle')
            button.btn.btn-warning(popover='{{popover.dynamicPopover}}', popover-title='{{popover.dynamicPopoverTitle}}') Dynamic Popover

            h4 Positional
            button.btn.btn-default(popover-placement='top', popover='On the Top!') Top
            button.btn.btn-default(popover-placement='left', popover='On the Left!') Left
            button.btn.btn-default(popover-placement='right', popover='On the Right!') Right
            button.btn.btn-default(popover-placement='bottom', popover='On the Bottom!') Bottom

            h4 Triggers
            p
              button.btn.btn-success(popover='I appeared on mouse enter!', popover-trigger='mouseenter') Mouseenter
            input.form-control(type='text', value='Click me!', popover='I appeared on focus! Click away and I\'ll vanish...', popover-trigger='focus')

            h4 Other
            button.btn.btn-default(popover-animation='true', popover='I fade in and out!') fading
            button.btn.btn-default(popover='I have a title!', popover-title='The title.') title
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading Ratings
      .panel-body
        div(ng-controller='RatingDemoController as rating')
          h4 Default
          rating(ng-model='rating.rate', max='rating.max', readonly='rating.isReadonly', on-hover='rating.hoveringOver(value)', on-leave='rating.overStar = null', state-on="'fa fa-star text-orange'", state-off="'fa fa-star-o'")
          span(class="label", ng-class="{'label-warning': rating.percent<30, 'label-info': rating.percent>=30 && rating.percent<70, 'label-success': rating.percent>=70}", ng-show="rating.overStar && !rating.isReadonly")
            | {{rating.percent}}%
          .well.mt
            b Rate: 
            b {{rating.rate}}
            |  - Readonly is: 
            i {{rating.isReadonly}}
            |  - Hovering over: 
            b {{rating.overStar || "none"}}
          
          button.btn.btn-sm.btn-danger(ng-click='rate = 0', ng-disabled='rating.isReadonly') Clear
          button.btn.btn-sm.btn-default(ng-click='rating.isReadonly = ! rating.isReadonly') Toggle Readonly
          
          hr
          h4 Custom icons
          .mb(ng-init='rating.x = 5')
            rating(ng-model='rating.x', max='15', state-on="'fa fa-tree text-success'", state-off="'fa fa-tree'")
            b
              | (
              i Trees:
              | {{rating.x}})
          .mb(ng-init='rating.y = 2')
            rating(ng-model='rating.y', rating-states='rating.ratingStates')
            b
              | (
              i Things:
              | {{y}})
    // END panel
// END row
