// START Top Navbar
nav.navbar.topnavbar(role='navigation', ng-controller="HeaderNavController as header")
  
  // START button offset
  .btn-offset
    button(type="button", btn-layer-morph="", target="#layer-search", ripple="").btn.btn-info.btn-circle.btn-lg.shadow-z1
      em.fa.fa-search
  // START button offset

  // START navbar header
  .navbar-header
    a.navbar-brand(ui-sref='app.dashboard') 
      img.brand-logo(src="app/img/logo.png", alt="App Logo")
    // Mobile buttons
    .mobile-toggles
      // Button to show/hide the sidebar on mobile. Visible on mobile only.
      a(href='', ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen").sidebar-toggle
        em.fa.fa-navicon
      // Button to show/hide the header menu on mobile. Visible on mobile only.
      a(href='', ng-click="header.toggleHeaderMenu()").menu-toggle.hidden-material
        em.fa.fa-ellipsis-v.fa-fw
  // END navbar header

  // START Nav wrapper
  .nav-wrapper.collapse.navbar-collapse(collapse="header.headerMenuCollapsed")
    // START Left navbar
    ul.nav.navbar-nav.hidden-material
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(href='', ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen").hidden-xs
          em.fa(ng-class="app.sidebar.isOffscreen ? 'fa-caret-right':'fa-caret-left'")
      // START Apps menu
      li.dropdown(dropdown="")
        a.dropdown-toggle(href="", dropdown-toggle="", ripple="")
          em.fa.fa-th.fa-fw
          span.visible-xs-inline.ml Applications
        // START Dropdown menu
        ul#bg-white.dropdown-menu.p.wd-lg
          .row.ml0.mr0.mt.mb.text-center
            .col-xs-4
              .pv
                a(ui-sref='app.extras.profile')
                  span.block.mb
                    em.icon-head.fa-2x.text-warning
                  small.text-muted Profile
            .col-xs-4
              .pv
                a(ui-sref="app-fh.mailbox.folder.list({folder: 'inbox'})")
                  span.block.mb
                    em.icon-mail.fa-2x.text-primary
                  small.text-muted Mailbox
            .col-xs-4
              .pv
                a(ui-sref='app.extras.calendar')
                  span.block.mb
                    em.fa.fa-calendar.fa-2x.text-danger
                  small.text-muted Calendar
            .col-xs-4
              .pv
                a(ui-sref='app.maps.vector')
                  span.block.mb
                    em.icon-map.fa-2x.text-success
                  small.text-muted Map
            .col-xs-4
              .pv
                a(ui-sref='app.dashboard')
                  span.block.mb
                    em.icon-bar-graph-2.fa-2x.text-info
                  small.text-muted Dashboard
            .col-xs-4
              .pv
                a(ui-sref='app.extras.gallery')
                  span.block.mb
                    em.icon-image.fa-2x.text-muted
                  small.text-muted Gallery
      // END Apps menu
      // START lock screen
      li
        a(ui-sref="page.lock", title="Lock screen", ripple="")
          em.icon-lock.fa-fw
          span.visible-xs-inline.ml Lock Screen 
      // END lock screen
    // END Left navbar
  // END Nav wrapper



// END Top Navbar