doctype html

<!--[if IE 9 ]>    <html class="ie9" lang="en" ng-app="naut"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html(lang="en", ng-app="naut") 
  <!--<![endif]-->
  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

    title(data-ng-bind="pageTitle()") Naut - Bootstrap Admin Theme + AngularJS

    // build:css app/css/application.css
    link(rel='stylesheet', href="app/css/bootstrap.css")
    link(rel='stylesheet', href="app/css/styles.css")
    // endbuild

  body(ng-clok='', ng-class="{ 'layout-fixed' : app.layout.isFixed, 'layout-boxed' : app.layout.isBoxed, 'layout-dock' : app.layout.isDocked, 'layout-material': app.layout.isMaterial, 'aside-offscreen' : app.sidebar.isOffscreen, 'aside-mini' : app.sidebar.isMini, 'footer-hidden': app.footer.hidden, 'in-app': !$state.includes('page')}")
    
    .app-container(data-ui-view="", data-autoscroll='false', ng-controller="CoreController")
    
    // Settings
    .settings-wrapper(ng-include="'templates/settings.html'", ng-class="{'visible': showSettings}", ng-init="showSettings = false")
    // End Settings
    
    // Layer Morph 
    .layer-morph-overlay
        .layer-morph-inner.bg-info
    .layer-morph-close(layer-morph-close="")
        em.icon-cross
    .layer-morph-container.bg-info
        .layer-morph-wrapper
            #layer-search.layer-morph(ng-include="'templates/layer-search.html'")
            .layer-morph-footer Naut
    // End Layer Morph 

    // build:vendor app/js/vendor.js
    script(src="vendor/modernizr/modernizr.js")
    script(src="vendor/jquery/dist/jquery.js")
    script(src="vendor/angular/angular.js")
    script(src="vendor/angular-route/angular-route.js")
    script(src="vendor/angular-cookies/angular-cookies.js")
    script(src="vendor/angular-animate/angular-animate.js")
    script(src="vendor/angular-touch/angular-touch.js")
    script(src="vendor/angular-sanitize/angular-sanitize.js")
    script(src="vendor/angular-resource/angular-resource.js")
    script(src="vendor/angular-translate/angular-translate.js")
    script(src="vendor/ngstorage/ngStorage.js")
    script(src="vendor/angular-ui-router/release/angular-ui-router.js")
    script(src="vendor/angular-ui-utils/ui-utils.js")
    script(src="vendor/angular-translate-loader-url/angular-translate-loader-url.js")
    script(src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
    script(src="vendor/angular-translate-storage-local/angular-translate-storage-local.js")
    script(src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js")
    script(src="vendor/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="vendor/angular-dynamic-locale/dist/tmhDynamicLocale.js")
    script(src="vendor/oclazyload/dist/ocLazyLoad.js")
    script(src="vendor/angular-loading-bar/build/loading-bar.js")
    // endbuild
    // build:js app/js/application.js
    - each js in scripts
        script(src=js)
    script(src='app/js/templates.js')
    // endbuild
